[Unit]
Description=Run srv watchdog every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Unit=srv-watchdog.service

[Install]
WantedBy=timers.target
